<div class=" text-center" ng-controller="CreatePlanController">
    <!--<h1>This is Plan Creation Page</h1>
    {{tagline}}-->



        <!--USER CHOSES BODYWEIGHT, THEN THIS FORM IS LOADED. OTHER FORMS FOR WEIGHTS AND MIXED THIS EXAMPLE ONLY FOR BODYWEIGHT -->

         <div ng-switch on="selection">
          <div ng-switch-when="bodyweightForm"> 
            <div ng-include="'/views/forms/bodyweightForm.html'"></div><br />
            <button class="btn customButton" ng-model="buttons" ng-click="loadDefault()">Back</button>
          </div>
          <div ng-switch-when="weightsForm"> 
            <div ng-include="'/views/forms/weightsForm.html'"></div><br />
            <button class="btn customButton" ng-model="buttons" ng-click="loadDefault()">Back</button> 
          </div>
          <div ng-switch-when="mixedForm"> 
            <div ng-include="'/views/forms/mixedForm.html'"></div><br />
            <button class="btn customButton" ng-model="buttons" ng-click="loadDefault()">Back</button>
          </div>
          <div ng-switch-default>
              <button class="btn customButton" ng-model="items[0]" ng-click="loadBodyweightForm()">Bodyweight</button><br />
              <button class="btn customButton" ng-model="items[1]" ng-click="loadWeightsForm()">Weights</button><br />
              <button class="btn customButton" ng-model="items[2]" ng-click="loadMixedForm()">Mixed</button><br />  
          </div>   
         </div> 
</div>

