<div class=" text-center" ng-controller="CreatePlanController">
    <!--<h1>This is Plan Creation Page</h1>
    {{tagline}}-->



        <!--USER CHOSES BODYWEIGHT, THEN THIS FORM IS LOADED. OTHER FORMS FOR WEIGHTS AND MIXED THIS EXAMPLE ONLY FOR BODYWEIGHT -->
       <div class="planType">
           <a href="/bodyweightForm"> <button class="createPlanButton" > Bodyweight</button> </a><br />
           <a href="/weightsForm"> <button class="createPlanButton"  >Weights</button></a> <br />
            <a href="/mixedForm"><button class="createPlanButton"> Mixed</button></a>
         <!--<div ng-switch on="selection">
          <div ng-switch-when="bodyweightForm"> 
            <div ng-include="'/views/forms/bodyweightForm.html'"></div><br />
            <button class="btn customButton customBackButton" ng-model="buttons" ng-click="loadDefault()">Back</button>
          </div>
          <div ng-switch-when="weightsForm"> 
            <div ng-include="'/views/forms/weightsForm.html'"></div><br />
            <button class="btn customButton customBackButton" ng-model="buttons" ng-click="loadDefault()">Back</button> 
          </div>
          <div ng-switch-when="mixedForm"> 
            <div ng-include="'/views/forms/mixedForm.html'"></div><br />
            <button class="btn customButton customBackButton" ng-model="buttons" ng-click="loadDefault()">Back</button>
          </div>
          <div ng-switch-default>
             
          </div>   
         </div> -->
      </div>
</div>

