<!-- public/views/home.html -->

<div class="text-center">
    <h1>Geriausi sporto planai</h1>

    <h4>Nerandi? <a href="/createPlan"> Spausk Čia  </a> ir susikurk savo! </h4>

</div>

<ul ng-model="workoutPlans">
        <li ng-repeat="workoutPlan in workoutPlans | orderBy:'-upvotes'"> 

            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-primary" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                   <uib-accordion-heading>
                        <div class="pull-right"> <span ng-click="addUpvote($event, workoutPlan)"><i class="fa fa-star"></i></span> {{workoutPlan.upvotes}}</div>
                        <div>{{ workoutPlan.workoutPlanTitle }}</div>
                   </uib-accordion-heading>
                   
                   <p> "Jūsų sporto plano pavadinimas: " " {{workoutPlan.workoutPlanTitle}} " </p> <br />
                   <p> "Jūsų sporto plano trukmė: " {{workoutPlan.totalDuration}} </p> <br />
                   <p> "Užsiėmimų skaičius per savaitę: " {{workoutPlan.daysPerWeek}} </p> <br />
                   <p> "Pasirinkta treniruot kūno dalis: " {{workoutPlan.bodyPart}} </p> <br />  <!--TODO: multiple body parts?-->
                   <p> "Pasirinkti pratimai: " {{workoutPlan.selectedExercises}} </p> <br /> <!--TODO: array of exercises ng repeat?-->
                   <p> "Pasirinkti setai: "{{workoutPlan.sets}} </p> <br /> 
                   <p> "Pasirinkti pakartojimai: " {{workoutPlan.reps}} </p> <br />
                   <p> "Pasirinktas poilsio laikas: " {{workoutPlan.restTime}} </p> <br />
                   <p> "Sukurta: " {{workoutPlan.userName}} </p> <br />
                   <p> "Kontaktai: " {{workoutPlan.userEmail}} </p>  
                </div>  
            </uib-accordion>

        </li>
    </ul>

