

<!--NEW Verson-->
<div class="container">
        <ul class="list-inline" ng-model="workoutPlans">
            <li  ng-repeat="workoutPlan in workoutPlans | orderBy:'-upvotes'">
               <div class="listPlan">
                    <div class="row planTitle">
                    
                            <div id="star" ng-click="addUpvote( workoutPlan)"><i class="fa fa-star" ></i> {{workoutPlan.upvotes}}</div>
                        
                            <div>{{ workoutPlan.workoutPlanTitle }}</div>
                        
                            
                    
                    </div>
                    <div class="row">
                        <div >
                        <p class="planText"> "Jūsų sporto plano pavadinimas: " " {{workoutPlan.workoutPlanTitle}} "  <br />
                        "Jūsų sporto plano trukmė: " {{workoutPlan.totalDuration}} <br />
                        "Užsiėmimų skaičius per savaitę: " {{workoutPlan.daysPerWeek}}  <br />
                        "Pasirinkta treniruot kūno dalis: " {{workoutPlan.bodyPart}}  <br />  
                        "Pasirinkti pratimai: " {{workoutPlan.selectedExercises}}  <br /> 
                        "Pasirinkti setai: "{{workoutPlan.sets}}  <br /> 
                        "Pasirinkti pakartojimai: " {{workoutPlan.reps}}  <br />
                        "Pasirinktas poilsio laikas: " {{workoutPlan.restTime}} <br />
                        "Sukurta: " {{workoutPlan.userName}}  <br />
                        "Kontaktai: " {{workoutPlan.userEmail}} </p>  
                    </div>
                </div><!-- End row-->
                <div class="row">
                    <div class="col-md-12 center-block">
                        <button class=" downloadPdf" ng-click="downloadPdf($event, workoutPlan._id)">  PDF!</button>
                    </div>
                    <!--<div class="col-md-6">
                        <button class=" downloadPdf" ng-click="delete($event, workoutPlan)"> Trinti</button>
                    </div>-->

                    
                </div>
                </div> <!--End container-->

            </li>

        </ul>

</div>