
  <form novalidate class="form-horizontal">
      
      <div class="form-group row">
          <label class="control-label customLabel col-md-4">Workout Plan Title: </label>
          <div class="col-md-4">
            <input type="text" class="form-control" ng-model="workoutPlan.title" /><br />
          </div>
          <div class="col-md-4"></div>
      </div>

      <div class="form-group row">
              <label class="control-label customLabel col-md-4">Total workout length: </label> 
              <div class="col-md-4">
                <input type="number" class="form-control" ng-model="workoutPlan.totalLength" /><br />
              </div>
              <div class="col-md-4"></div>  
      </div>

      <div class="form-group row">    
              <!--TODO: add date picker which disables not selected days and sets them as rest days-->
              <label class="control-label customLabel col-md-4">Select days to train: </label>
              <div class="col-md-4">
                <input type="number" ng-maxlength="7" class="form-control" ng-model="workoutPlan.trainDays" /><br />
              </div>
              <div class="col-md-4"></div>
      </div>

      <div class="form-group row">       
              
              <label class="control-label customLabel col-md-4">Select Body Part to train: </label>
              <div class="col-md-4">
                <!-- <input type="text" class="form-control" ng-model="workoutPlan.bodyPart" />-->
                <select class="form-control"
                ng-model="selected"
                multiple="true"
                ng-options=" bodyPart for bodyPart in bodyPartTags"
                ng-change="bodyPartsChanged(selected)"> 
                <!-- TODO: push selected body parts in array and look for matches. -->
                </select>

                <br />
              </div>
              <div class="col-md-4"></div>  
      </div>

      <div class="form-group row">        
              <!--TODO: add list with available exercises + add exercise functionality -->
              <label class="control-label customLabel col-md-4">Select Exercises: </label>
              <div class="col-md-4">
              <!-- <div class="input-group">-->
                  <select  class="form-control" 
                    ng-model="item.selectedExercises.title"
                  multiple="true"
                    ng-options="item.selectedExercises.title for item in bodyweightExercises"
                    ng-change="exerciseChanged(item.selectedExercises.title)">
                    <!--<option ng-repeat="item in exercises"ng-model="item.selectedExercises.title"
                    ng-change="exerciseChanged(item.selectedExercises.title)" selected>
                    {{item.selectedExercises.title}}
                    </option>-->
                  </select>
                
                   <a href="/createExercise" class=" addExerciseBtn"> ADD YOUR EXERCISE</a><br />
                
                <!--</div>-->  
              </div>
              <div class="col-md-4">
                
              </div>
      </div>

    

      <!--END ADD YOUR EXERCISE-->    


      <div class="form-group row">  
              <label class="control-label customLabel col-md-4">Select number of sets: </label>
              <div class="col-md-4">
                <input type="number" class="form-control" ng-model="workoutPlan.sets" /><br />
              </div>
              <div class="col-md-4"></div>
      </div>

      <div class="form-group row">
        <label class="control-label customLabel col-md-4">Select number of reps: </label>
        <div class="col-md-4">
          <input type="number" class="form-control" ng-model="workoutPlan.reps" /><br />
        </div>
        <div class="col-md-4"></div>  
    </div>

      <div class="form-group row">
              <label class="control-label customLabel col-md-4">Select Rest time: </label>
              <div class="col-md-4">
                <input type="number" class="form-control" ng-model="workoutPlan.restTime" /><br />
              </div>
              <div class="col-md-4"></div>
      </div>

       <div class="form-group row">
              <button type="submit" value="Save" class="customSaveButton"  ng-click="save(workoutPlan, item.selectedExercises.title)">Save</button>
      </div>
      
      <!--<input type="button" ng-click="reset()" value="Reset" />-->
      
  </form>
  <form style="display: inline" action="/createPlan" method="get">
    <button class="customBackButton" >Back</button>
  </form>