
<form novalidate class="form-group form-horizontal">
    <h3>This is temp for WEIGHTS</h3>
    
      <div class="form-group row">
        <label class="control-label customLabel col-md-4">ID: </label>
        <div class="col-md-4">
          <input type="number" class="form-control" ng-model="workoutPlan.userId" /><br />  
        </div>
        <div class="col-md-4"></div>
      </div>  
    
    <div class="form-group row">
        <label class="control-label customLabel col-md-4">email: </label>
        <div class="col-md-4">
          <input type="text" class="form-control" ng-model="workoutPlan.email" /><br />
        </div>
        <div class="col-md-4">  </div>
    </div>

    <div class="form-group row">
        <label class="control-label customLabel col-md-4">password: </label>
        <div class="col-md-4">
          <input type="text" class="form-control" ng-model="workoutPlan.password" /><br />
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="form-group row">
        <label class="control-label customLabel col-md-4">Workout Plan Title: </label>
        <div class="col-md-4">
          <input type="text" class="form-control" ng-model="workoutPlan.title" /><br />
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="form-group row">
            <label class="control-label customLabel col-md-4">Total workout length: </label> 
            <div class="col-md-4">
              <input type="number" class="form-control" ng-model="workoutPlan.totalLength" /><br />
            </div>
            <div class="col-md-4"></div>  
    </div>

    <div class="form-group row">    
            <!--TODO: add date picker which disables not selected days and sets them as rest days-->
            <label class="control-label customLabel col-md-4">Select days to train: </label>
            <div class="col-md-4">
              <input type="number" class="form-control" ng-model="workoutPlan.trainDays" /><br />
            </div>
            <div class="col-md-4"></div>
    </div>

    <div class="form-group row">       
            <label class="control-label customLabel col-md-4">Select Body Part to train: </label>
            <div class="col-md-4">
              <input type="text" class="form-control" ng-model="workoutPlan.bodyPart" /><br />
            </div>
            <div class="col-md-4"></div>  
    </div>

    <div class="form-group row">        
            <!--TODO: add list with available exercises + add exercise functionality -->
            <label class="control-label customLabel col-md-4">Select Exercises: </label>
            <div class="col-md-4">
              <input type="text" class="form-control" ng-model="workoutPlan.exerciseTitle" /> <br />
            <!--In form for submit only-->
            <!--<label class="control-label customLabel">Select Exercises: <input type="text" class="form-control" ng-model="workoutPlan.weights.exercises.link" /></label> <br />
            <label class="control-label customLabel">Select Exercises: <input type="text" class="form-control" ng-model="workoutPlan.weights.exercises.tags" /></label> <br />-->
              <button class="btn btn-info" data-toggle="modal" data-target="#myModal">ADD YOUR EXERCISE</button><br />
            </div>
            <div class="col-md-4">
              
            </div>
    </div>

    <div class="form-group row">  
            <label class="control-label customLabel col-md-4">Select number of sets: </label>
            <div class="col-md-4">
              <input type="number" class="form-control" ng-model="workoutPlan.sets" /><br />
            </div>
            <div class="col-md-4"></div>
    </div>

    <div class="form-group row">
      <label class="control-label customLabel col-md-4">Select number of reps: </label>
      <div class="col-md-4">
        <input type="number" class="form-control" ng-model="workoutPlan.reps" /><br />
      </div>
      <div class="col-md-4"></div>  
  </div>

    <div class="form-group row">
            <label class="control-label customLabel col-md-4">Select Rest time: </label>
            <div class="col-md-4">
              <input type="number" class="form-control" ng-model="workoutPlan.restTime" /><br />
            </div>
            <div class="col-md-4"></div>
    </div>


    </div>
    <!--<input type="button" ng-click="reset()" value="Reset" />-->
    <input type="submit" value="Save"  ng-click="save(workoutPlan)"/>
</form>


<!--MODAL CONTENT-->

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>