 <!--ADD YOUR EXERCISE -->
    <form novalidate class="form-group form-horizontal">
      <h3>This is temp for EXERCISES</h3>

      <div class="form-group row">        
              <label class="control-label customLabel col-md-4">Exercise Title: </label>
              <div class="col-md-4">
                <input type="text" class="form-control" ng-model="exercise.title" /> <br />
              </div>
              <div class="col-md-4">
                
              </div>
      </div>
      <div class="form-group row">        
              <label class="control-label customLabel col-md-4">Link to exercise: </label>
              <div class="col-md-4">
                <input type="text" class="form-control" ng-model="exercise.link" /> <br />
              </div>
              <div class="col-md-4">
                
              </div>
      </div>

      <div class="form-group row">        
              <!--TODO: add list with available Tags to select -->
              <label class="control-label customLabel col-md-4">Tags of exercise (separate by coma): </label>
              <div class="col-md-4">
                <input type="text" class="form-control" ng-model="exercise.tags" /> <br />
              </div>
              <div class="col-md-4">
                
              </div>
      </div>

      <!--<input type="button" ng-click="reset()" value="Reset" />-->
      <input type="submit" value="Save"  ng-click="saveExercise(exercise)"/>
  </form>