
<form novalidate class="form-group form-horizontal">
    <h3>This is temp for WEIGHTS</h3>
    <div class="form-group">
        <label class="control-label customLabel">ID: <input type="number" class="form-control" ng-model="workoutPlan.userId" /><br />
    </div>
    <div class="form-group">
        <label class="control-label customLabel">email: <input type="text" class="form-control" ng-model="workoutPlan.email" /><br />
    </div>
    <div class="form-group">
        <label class="control-label customLabel">password: <input type="text" class="form-control" ng-model="workoutPlan.password" /><br />
    </div>


    <div class="form-group">
        <label class="control-label customLabel">Workout Plan Title: <input type="text" class="form-control" ng-model="workoutPlan.title" /><br />
    </div>
    <div class="form-group">
            <label class="control-label customLabel">Total workout length: <input type="number" class="form-control" ng-model="workoutPlan.totalLength" /></label><br />
    </div>

    <div class="form-group">    
            <!--TODO: add date picker which disables not selected days and sets them as rest days-->
            <label class="control-label customLabel">Select days to train: <input type="number" class="form-control" ng-model="workoutPlan.trainDays" /></label><br />
    </div>
    <div class="form-group">       
            <label class="control-label customLabel">Select Body Part to train: <input type="text" class="form-control" ng-model="workoutPlan.bodyPart" /></label><br />
    </div>
    <div class="form-group">        
            <!--TODO: add list with available exercises + add exercise functionality -->
            <label class="control-label customLabel">Select Exercises: <input type="text" class="form-control" ng-model="workoutPlan.exerciseTitle" /></label> <br />
            <!--In form for submit only-->
            <!--<label class="control-label customLabel">Select Exercises: <input type="text" class="form-control" ng-model="workoutPlan.weights.exercises.link" /></label> <br />
            <label class="control-label customLabel">Select Exercises: <input type="text" class="form-control" ng-model="workoutPlan.weights.exercises.tags" /></label> <br />-->
            <button class="btn btn-info" data-toggle="modal" data-target="#myModal">ADD YOUR EXERCISE</button><br />
    </div>
    <div class="form-group">  

            <label class="control-label customLabel">Select number of sets: <input type="number" class="form-control" ng-model="workoutPlan.sets" /></label><br />
    </div>
    <div class="form-group">

            <label class="control-label customLabel">Select number of reps: <input type="number" class="form-control" ng-model="workoutPlan.reps" /></label><br />
    </div>
    <div class="form-group">
            <label class="control-label customLabel">Select Rest time: <input type="number" class="form-control" ng-model="workoutPlan.restTime" /></label><br />
    </div>


    </div>
    <!--<input type="button" ng-click="reset()" value="Reset" />-->
    <input type="submit" value="Save"  ng-click="save(workoutPlan)"/>
</form>


<!--MODAL CONTENT-->

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>